swagger: '2.0'
info:
  version: '1.0.0'
  title: TODO API
host: localhost:8080
basePath: /api
schemes:
  - http
paths:
  /todos:
    get:
      summary: Lista todos
      responses:
        '200':
          description: lista
          schema:
            type: array
            items:
              $ref: '#/definitions/Todo'
    post:
      summary: Cria todo
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TodoRequest'
      responses:
        '201':
          description: criado
          schema:
            $ref: '#/definitions/Todo'
  /todos/{id}:
    get:
      summary: Obtém todo por id
      parameters:
        - name: id
          in: path
          required: true
          type: string
      responses:
        '200':
          description: ok
          schema:
            $ref: '#/definitions/Todo'
        '404':
          description: not found
    put:
      summary: Atualiza todo
      parameters:
        - name: id
          in: path
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TodoRequest'
      responses:
        '200':
          description: atualizado
          schema:
            $ref: '#/definitions/Todo'
    delete:
      summary: Deleta todo
      parameters:
        - name: id
          in: path
          required: true
          type: string
      responses:
        '204':
          description: sem conteúdo
definitions:
  Todo:
    type: object
    properties:
      id:
        type: string
      title:
        type: string
      description:
        type: string
      done:
        type: boolean
      createdAt:
        type: string
        format: date-time
      updatedAt:
        type: string
        format: date-time
  TodoRequest:
    type: object
    required:
      - title
    properties:
      title:
        type: string
      description:
        type: string
      done:
        type: boolean
